{% extends 'base.html.twig' %}
{% block title 'Tous nos biens | Ainga Immo' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor -tous nos biens</p>
    </div>
{% endblock %}